.main__sort
  label(for="input-sort").main__sort-label Сортировка:
  select(id="input-sort", onchange="location = this.value;").main__sort-select
    option(value="Test").main__sort-option по возрастанию цены
    option(value="Test 1").main__sort-option Test 1
    option(value="Test 2").main__sort-option Test 2
    option(value="Test 3").main__sort-option Test 3

.main__products
  .main__product.product_cart
    span(style="background-image: url('static/images/content/1.jpg');").product_cart-image
      .product_cart__favorites
        +icon('heart-inactive', 'product_cart__favorites--inactive')
        +icon('heart', 'product_cart__favorites--active')
    .product_cart-special
      span.product_cart-special--new Новинка
      span.product_cart-special--hot Хит
      span.product_cart-special--special Акция
    .product_cart-price
      span.product_cart-price--old 950
      span.product_cart-price--new 855 руб
    h3.product_cart-name Картина по номерам "В раздумьях", 40х50 см
    p.product_cart-size 40x50см
    p.product_cart-type Пейзажи
    .product_cart__actions
      button.product_cart__actions-button В корзину
      .product_cart__actions__quantity
        span(data-actions="minus").product_cart__actions__quantity-button.product_cart__actions__quantity-button--disabled
          +icon('minus')
        input(type="number", value="1").product_cart__actions__quantity-input
        span(data-actions="plus").product_cart__actions__quantity-button
          +icon('plus')
  .main__product.product_cart
    span(style="background-image: url('static/images/content/1.jpg');").product_cart-image
      .product_cart__favorites
        +icon('heart-inactive', 'product_cart__favorites--inactive')
        +icon('heart', 'product_cart__favorites--active')
    .product_cart-special
      span.product_cart-special--new Новинка
      span.product_cart-special--hot Хит
      span.product_cart-special--special Акция
    .product_cart-price
      span.product_cart-price--old 950
      span.product_cart-price--new 855 руб
    h3.product_cart-name Картина по номерам "В раздумьях", 40х50 см
    p.product_cart-size 40x50см
    p.product_cart-type Пейзажи
    .product_cart__actions
      button.product_cart__actions-button В корзину
      .product_cart__actions__quantity
        span(data-actions="minus").product_cart__actions__quantity-button.product_cart__actions__quantity-button--disabled
          +icon('minus')
        input(type="number", value="1").product_cart__actions__quantity-input
        span(data-actions="plus").product_cart__actions__quantity-button
          +icon('plus')
  .main__product.product_cart
    span(style="background-image: url('static/images/content/1.jpg');").product_cart-image
      .product_cart__favorites
        +icon('heart-inactive', 'product_cart__favorites--inactive')
        +icon('heart', 'product_cart__favorites--active')
    .product_cart-special
      span.product_cart-special--new Новинка
      span.product_cart-special--hot Хит
      span.product_cart-special--special Акция
    .product_cart-price
      span.product_cart-price--old 950
      span.product_cart-price--new 855 руб
    h3.product_cart-name Картина по номерам "В раздумьях", 40х50 см
    p.product_cart-size 40x50см
    p.product_cart-type Пейзажи
    .product_cart__actions
      button.product_cart__actions-button В корзину
      .product_cart__actions__quantity
        span(data-actions="minus").product_cart__actions__quantity-button.product_cart__actions__quantity-button--disabled
          +icon('minus')
        input(type="number", value="1").product_cart__actions__quantity-input
        span(data-actions="plus").product_cart__actions__quantity-button
          +icon('plus')
  .main__product.product_cart
    span(style="background-image: url('static/images/content/1.jpg');").product_cart-image
      .product_cart__favorites
        +icon('heart-inactive', 'product_cart__favorites--inactive')
        +icon('heart', 'product_cart__favorites--active')
    .product_cart-special
      span.product_cart-special--new Новинка
      span.product_cart-special--hot Хит
      span.product_cart-special--special Акция
    .product_cart-price
      span.product_cart-price--old 950
      span.product_cart-price--new 855 руб
    h3.product_cart-name Картина по номерам "В раздумьях", 40х50 см
    p.product_cart-size 40x50см
    p.product_cart-type Пейзажи
    .product_cart__actions
      button.product_cart__actions-button В корзину
      .product_cart__actions__quantity
        span(data-actions="minus").product_cart__actions__quantity-button.product_cart__actions__quantity-button--disabled
          +icon('minus')
        input(type="number", value="1").product_cart__actions__quantity-input
        span(data-actions="plus").product_cart__actions__quantity-button
          +icon('plus')
