.main__product__page
  div.main__product__page__title.hidden-md
    h1.main__product__page__title-title Набор для рисования картин “Картина”
    .main__product__page__title-price
      span.main__product__page__title-price--old 950
      span.main__product__page__title-price--new 855 руб
    .product_cart__actions
      button.button.button--green В корзину
      .product_cart__actions__quantity
        span(data-actions="minus").product_cart__actions__quantity-button.product_cart__actions__quantity-button--disabled
          +icon('minus')
        input(type="number", value="1").product_cart__actions__quantity-input
        span(data-actions="plus").product_cart__actions__quantity-button
          +icon('plus')
  .main__product__page__images
      .main__product__page__images-block.main__product__page__images-block--small
        .main__product__page__images-image
          a(href="").main__product__page__images-link.thumbnail
            img(src="static/images/content/sale1.jpg", alt="").main__product__page__images-img
        .main__product__page__images-image
          a(href="").main__product__page__images-link.thumbnail
            img(src="static/images/content/sale1.jpg", alt="").main__product__page__images-img
        .main__product__page__images-image
          a(href="").main__product__page__images-link.thumbnail
            img(src="static/images/content/sale1.jpg", alt="").main__product__page__images-img
        .main__product__page__images-image
          a(href="").main__product__page__images-link.thumbnail
            img(src="static/images/content/sale1.jpg", alt="").main__product__page__images-img
      .main__product__page__images-block.main__product__page__images-block--full
        .main__product__page__images-image
          a(href="").main__product__page__images-link.thumbnail
            img(src="static/images/content/sale1.jpg", alt="").main__product__page__images-img
  .main__product__page-block
    .main__product__page__title.hidden-sm
      h1.main__product__page__title-title Набор для рисования картин “Картина”
      .main__product__page__title-price
        span.main__product__page__title-price--old 950
        span.main__product__page__title-price--new 855 руб
      .product_cart__actions
        button.button.button--green В корзину
        .product_cart__actions__quantity
          span(data-actions="minus").product_cart__actions__quantity-button.product_cart__actions__quantity-button--disabled
            +icon('minus')
          input(type="number", value="1").product_cart__actions__quantity-input
          span(data-actions="plus").product_cart__actions__quantity-button
            +icon('plus') 
    .main__product__page__options
      .main__product__page__options-option
        h4.main__product__page__options-title Производитель
        hr.main__product__page__options-line
        small.main__product__page__options-description Россия
      .main__product__page__options-option
        h4.main__product__page__options-title Производитель
        hr.main__product__page__options-line
        small.main__product__page__options-description Россия
      .main__product__page__options-option
        h4.main__product__page__options-title Производитель
        hr.main__product__page__options-line
        small.main__product__page__options-description Россия
      .main__product__page__options-option
        h4.main__product__page__options-title Производитель
        hr.main__product__page__options-line
        small.main__product__page__options-description Россия
    .main__product__page__description
      h4.main__product__page__description-title Подробное описание
      p.main__product__page__description-descr Задача организации, в особенности же рамки и место обучения кадров способствует подготовки и реализации модели развития. Значимость этих проблем настолько очевидна, что консультация с широким активом.



