.sidenav
  button.sidenav-slide-catalog.sidenav-button.button.button--pink Каталог
  .sidenav__menu
    .sidenav__menu__block
      h4.sidenav__menu__block-title Картины по номерам
      ul.sidenav__menu__block-items
        li.sidenav__menu__block-item
          a(href="").sidenav__menu__block-link Пейзажи
        li.sidenav__menu__block-item
          a(href="").sidenav__menu__block-link Пейзажи
        li.sidenav__menu__block-item
          a(href="").sidenav__menu__block-link Пейзажи
    .sidenav__menu__block
      h4.sidenav__menu__block-title Картины по номерам
      ul.sidenav__menu__block-items
        li.sidenav__menu__block-item
          a(href="").sidenav__menu__block-link Пейзажи
        li.sidenav__menu__block-item
          a(href="").sidenav__menu__block-link Пейзажи
        li.sidenav__menu__block-item
          a(href="").sidenav__menu__block-link Пейзажи
  a(href="").sidenav-instagram.sidenav-button.button.button--link.button--pink Наш Instagram