.main__slider
  .owl-carousel.owl-theme.owl-loaded
    .owl-stage-outer
      .owl-stage
        .owl-item
          img(src="static/images/content/slide.jpg", alt="")
        .owl-item
          img(src="static/images/content/slide.jpg", alt="")
