.main {
    width: 100%;
    overflow: hidden;
    margin-bottom: 20px;
    &__slider {
        width: 100%;
        .owl-stage-outer {
            border-radius: 4px;
            overflow: hidden;
        }
        .owl-item img {
            max-height: 280px;
        }
    }

    &__products {
        display: flex;
        flex-wrap: wrap;
        column-gap: 20px;
        row-gap: 20px;
    }
}


.owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span {
    background: $light-green;
}