.sidenav {
  & > *:not(:last-child) {
    margin-bottom: 15px;
  }

  &__menu {
    &__block {
      &-title {
        font-size: 18px;
        margin-bottom: 5px;
        cursor: pointer;
        padding-bottom: 5px;
      }

      &-items {
        margin-left: 20px !important;
        display: none;
        & > *:not(:last-child) {
          margin-bottom: 5px;
        }
      }

      &:first-child &-items {
        display: block;
      }

      &:not(:last-child) &-title {
        border-bottom: 1px solid #EAEAEA;;
        
      }

    }
  }
}