.button {
  cursor: pointer;
  border-radius: 5px;
  color: white;
  border: none;
  width: 100%;
  transition: all .2s linear;
  font-size: 18px;
  font-weight: bold;
  
  &--pink {

    background: linear-gradient(180deg, #EF72B7 0%, #D35299 100%);
    height: 50px;

    &:hover {
      background: linear-gradient(180deg, #EF92C5 0%, #D35299 100%);
    }

    &:active {
      background: linear-gradient(180deg, #EF92C5 0%, #D35299 100%);
      box-shadow: inset 0px 0px 5px 2px #C53E88;
    }
  }

  &--link {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
