.header { 
  flex: 0 0 auto; 

  &__top {
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(180deg, #07C4A7 0%, #0C8E7B 100%);
    color: white;
    height: 30px;
    
    &-title {
      font-size: 16px;
    }
  }

  &__middle {
    padding: 15px 0;
    border-bottom: 1px solid #eaeaea;
    &-container {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    &__logo {
      max-width: 110px;
      max-height: 110px;
      overflow: hidden;
      &-img {
        width: 100%;
        height: 100%;
      }
    }

    &__working_hours_phone {
      &-working_hours {
        font-size: 13px;
        font-weight: bold;
      }

      &-phone {
        font-size: 18px;
        font-weight: bold;
        color: #34363D;
        text-decoration: none;
        transition: opacity .2s linear;
        &:hover {
          opacity: .6;
          text-decoration: underline;
        }
      }
    }

    &__addresses {
      display: flex;
      align-items: center;
      &-logo {
        max-width: 64px;
        max-height: 64px;
      }
      &-email {
        font-size: 13px;
        font-weight: bold;
        text-decoration: none;
      }
      &-address {
        font-size: 18px;
        font-weight: bold;
      }
    }

    &__actions {
      & > *:not(:last-child) {
        margin-right: 15px;
      }
      &-icon {
        width: 35px;
        height: 35px;
        fill: #34363D;
        &.icon-heart {
          fill: $light-pink;
        }
      }
    }
  }

  &__bottom {
    box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.05);
    &-container {
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: 50px;
    }
    &__nav {
      display: flex;
      align-items: center;
      & > *:not(:last-child) {
        margin-right: 20px;
      }

      &-link {
        font-weight: bold;
        transition: color .2s linear;

        &:hover {
          color: $light-green;
        }
      }
    }

    &__cart {
      &-link {
        position: relative;
      }

      &-badge {
        position: absolute;
        background-color: $light-pink;
        color: white;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 20px;
        height: 20px;
        border-radius: 50%;
        top: -8px;
        right: -8px;
      }

      &-icon {
        width: 30px;
        height: 30px;
      }
    }
  }
}
