.product_cart {
    width: calc((100% - 40px) / 3);
    border: 1px solid #EAEAEA;
    border-radius: 4px;
    overflow: hidden;
    transition: all .3s linear;
    position: relative;
    cursor: pointer;
    &:hover {
        box-shadow: inset 0px 10px 15px rgba(0, 0, 0, 0.05);
    }

    & > *:not(:first-child) {
        margin-top: 2px;
        padding: 0 10px;
    }

    & > *:last-child {
        padding: 10px;
    }

    &-price {
        font-size: 25px;
        & > *:not(:last-child) {
            margin-right: 5px;
        }

        &--old {
            position: relative;
            font-size: 16px;
            &::after {
                content: '';
                background-color: #ab0303;
                width: 110%;
                height: 2px;
                position: absolute;
                left: -4px;
                transform: rotate(-10deg);
                top: calc(50% - 1px);
            }
        }
    }

    &__favorites {
        position: absolute;
        top: 5px;
        right: 5px;
        fill: $light-pink;
        &--active, &--inactive {
            width: 30px;
            height: 30px;
            display: none;
        }
    }

    &-special {
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 10px;
        left: -10px;

        & > *:not(:last-child) {
            margin-bottom: 5px;
        }

        & > * {
            padding: 0 5px;
            text-align: center;
            color: #ffffff;
            font-weight: bold;
        }

        &--new {
            background-color: $light-green;
        }

        &--hot {
            background-color: rgb(200, 0, 0);
        }

        &--special {
            background-color: $light-pink;
        }
    }

    &-image {
        display: block;
        height: 160px;
        width: 100%;

        background-position: center;
        background-size: cover;
    }

    &-name {
        font-size: 16px;
        font-weight: normal;
    }

    &-size, &-type a {
        font-size: 13px;
        color: #b8b8b8;
        font-weight: bold;
        line-height: 19px;
    }

    &-type, &-size {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        height: 19px;
    }

    &__actions {
        display: flex;
        justify-content: space-between;
        &-button {
            max-height: 40px;
            white-space: nowrap;
            background: none;
            border: 1px solid $light-green;

            border-radius: 10px;
            padding: 8px 30px;
            color: $light-green;
            font-weight: bold;
            font-size: 13px;

            cursor: pointer;
            transition: all .2s linear;

            &:hover {
                color: #fff;
                background: linear-gradient(180deg, #07C4A7 0%, #0C8E7B 100%);
                
            }

            &:active {
                box-shadow: inset 0px 0px 4px #0A806E;
            }
        }

        &__quantity {
            display: flex;
            align-items: center;
            &-input {
                border: none;
                width: 40px;
                padding: 0 5px;
                font-size: 25px;
                font-weight: bold;
                text-align: center;
                appearance: none;
                -moz-appearance: textfield;
            }

            &-button {
                border: 1px solid $light-green;
                width: 25px;
                height: 25px;
                border-radius: 50%;
                cursor: pointer;
                display: flex;
                align-items: center;
                justify-content: center;

                transition: all .2s linear;

                .icon-minus, .icon-plus {
                    width: 10px;
                    height: 10px;
                    fill: $light-green;
                }

                &:hover {
                    background-color: $light-green;
                    .icon-minus, .icon-plus {
                        fill: #ffffff !important;
                    }
                }
                &--disabled {
                    border-color: #B8B8B8;
                    fill: #B8B8B8;
                    cursor: default;
                    .icon-minus, .icon-plus {
                        fill: #B8B8B8 !important;
                    }

                    &:hover {
                        background-color: #fff;

                        .icon-minus, .icon-plus {
                            fill: #B8B8B8 !important;
                        }
                    }
                }


            }

            


        }
    }

}


@media all and (max-width: 1150px) {
    .product_cart {
        width: calc((100% - 20px) / 2);
    }
}

@media all and (max-width: 560px) {
    .product_cart {
        width: 100%;
    }
}